<h3>CGI TEST</h3>

<script>
    var myStorage = { somedata : 0 };
	function storageApiCall(method, payload, cb){
		var xhr = new XMLHttpRequest();
		var url = method + ".ps1" ;
		xhr.open("POST", url, true);
		xhr.setRequestHeader("Content-Type", "application/json");
		xhr.onreadystatechange = function () {
		    if (xhr.readyState === 4 && xhr.status === 200)
		        cb(JSON.parse(xhr.responseText));
		};
		xhr.send(JSON.stringify(payload || '{}'));
	}
	function storageSet(data, cb){
		storageApiCall("set", data, cb);
	}
	function storageGet(cb){
		storageApiCall("get", null, cb);
	}

    function store(){
        myStorage.somedata++;
        storageSet(myStorage,function(result){
            alert("stored!");
        });
    }

    function load(){
        storageGet(function(result){
            myStorage = result;
            document.getElementById("out").innerHTML = JSON.stringify(result);
        });
    }
</script>


<div id="out"></div>

<button onclick="load()">load!</button>
<button onclick="store()">store!</button>