<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width" />

	<link rel="stylesheet" href="program_data/bootstrap.min.css" />
	<script charset="utf-8" src="program_data/angular.min.js"></script>
	<script charset="utf-8" src="program_data/ui-bootstrap-tpls.js"></script>
	<script charset="utf-8" src="program_data/quagga.min.js"></script>
	<script charset="utf-8" src="program_data/jspdf.umd.min.js"></script>
	<script charset="utf-8" src="program_data/docxtemplater.v3.9.9.min.js"></script>

	<script charset="utf-8" src="program_data/avery5160.js"></script>
	<script charset="utf-8" src="program_data/JsBarcode.all.min.js"></script>

	<script charset="utf-8" src="program_data/nsn.js"></script>
	<script charset="utf-8" src="program_data/util.js"></script>
	<script charset="utf-8" src="program_data/app.js"></script>
	<style>
		.shritem {
			color: blue;
		}

		select,
		.clickable {
			cursor: pointer;
		}

		select:hover,
		.clickable:hover,
		.dragable:hover {
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;
			-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 139, 255, 0.67);
			-moz-box-shadow: 0px 0px 5px 0px rgba(0, 139, 255, 0.67);
			box-shadow: 0px 0px 5px 0px rgba(0, 139, 255, 0.67);
		}

		#interactive.viewport {
			position: relative;
			width: 100%;
			height: auto;
			overflow: hidden;
			text-align: center;
		}

		#interactive.viewport>canvas,
		#interactive.viewport>video {
			max-width: 100%;
			width: 100%;
		}

		canvas.drawing,
		canvas.drawingBuffer {
			position: absolute;
			left: 0;
			top: 0;
		}

		#log-container { overflow: auto; height: 500px; }
.log-warn { color: orange }
.log-error { color: red }
.log-info { color: skyblue }
.log-log { color: silver }

.log-warn, .log-error { font-weight: bold; }

	</style>

	<title>My Stuff</title>
</head>



<body>
	<br></br>
	<div ng-app="WEBUI" ng-controller="main" class="container">
		<button class="btn btn-primary" ng-click="loadSHR()">Load Storage Receipt</button>
		<button class="btn btn-primary" ng-click="newSHR()">New Storage Receipt</button>
		<button class="btn btn-primary" ng-click="storeSHR()" ng-if="SHR.loaded">Store Storage Receipt</button>

		<br></br>
		<uib-tabset active="active_tab" ng-if="SHR.loaded">
			<uib-tab index="0" heading="List">
				<shrlist ng-model="SHR.SHR.items"></shrlist>
			</uib-tab>
			<uib-tab index="1" heading="Conduct Inventory">
				<div ng-if="active_tab == 1" ng-controller="inventory" class="row">
					<div class="col-sm-6">
						<barscan scanned="didScan" ng-model="barcode"></barscan>
						<i><b>{{inventory_message}}</b></i>
					</div>
					<div class="col-sm-6">
						<h4>Current Storage receipt:</h4>
						<shrlist ng-model="SHR.SHR.items" current-handreceipt=true></shrlist>

						<h4>Unknown</h4>
						<shrlist ng-model="SHR.SHR.unknown"></shrlist>
					</div>
				</div>
			</uib-tab>
			<uib-tab index="2" heading="Print queue">
				<br/>
				<button ng-click="SHR.createPrint()" class="btn btn-info">Create QR Codes</button>
				<shrlist ng-model="SHR.SHR.barcodequeue"></shrlist>
			</uib-tab>
			<uib-tab index="3" heading="RAW-Data">
				<pre>{{SHR.SHR|json}}</pre>
			</uib-tab>
		</uib-tabset>



		<!-- foot -->
	</div>


	<script>
//<div style="background-color: lightcyan" id="error-log"></div>
//(function (logger) {
//    console.old = console.log;
//    console.log = function () {
//        var output = "", arg, i;
//
//        for (i = 0; i < arguments.length; i++) {
//            arg = arguments[i];
//            output += "<span class=\"log-" + (typeof arg) + "\">";
//
//            if (
//                typeof arg === "object" &&
//                typeof JSON === "object" &&
//                typeof JSON.stringify === "function"
//            ) {
//                output += JSON.stringify(arg);   
//            } else {
//                output += arg;   
//            }
//
//            output += "</span>&nbsp;";
//        }
//
//        logger.innerHTML += output + "<br>";
//        console.old.apply(undefined, arguments);
//	};
//	console.error=console.log;
//})(document.getElementById("error-log"));
//.
	</script>


<div id="log-container">
  <pre id="log"></pre>
</div>
	<script>
rewireLoggingToElement(
    () => document.getElementById("log"),
    () => document.getElementById("log-container"), true);

function rewireLoggingToElement(eleLocator, eleOverflowLocator, autoScroll) {
    fixLoggingFunc('log');
    fixLoggingFunc('debug');
    fixLoggingFunc('warn');
    fixLoggingFunc('error');
    fixLoggingFunc('info');

    function fixLoggingFunc(name) {
        console['old' + name] = console[name];
        console[name] = function(...arguments) {
            const output = produceOutput(name, arguments);
            const eleLog = eleLocator();

            if (autoScroll) {
                const eleContainerLog = eleOverflowLocator();
                const isScrolledToBottom = eleContainerLog.scrollHeight - eleContainerLog.clientHeight <= eleContainerLog.scrollTop + 1;
                eleLog.innerHTML += output + "<br>";
                if (isScrolledToBottom) {
                    eleContainerLog.scrollTop = eleContainerLog.scrollHeight - eleContainerLog.clientHeight;
                }
            } else {
                eleLog.innerHTML += output + "<br>";
            }

            console['old' + name].apply(undefined, arguments);
        };
    }

    function produceOutput(name, args) {
        return args.reduce((output, arg) => {
            return output +
                "<span class=\"log-" + (typeof arg) + " log-" + name + "\">" +
                    (typeof arg === "object" && (JSON || {}).stringify ? JSON.stringify(arg) : arg) +
                "</span>&nbsp;";
        }, '');
    }
}

	</script>


</body>

</html>
